apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      imagePullSecrets:         
      - name: ecr-secret        
      containers:
      - name: myapp
        image: 692614315837.dkr.ecr.ap-south-2.amazonaws.com/myrepo:1.0.0
        ports:
        - containerPort: 8080
 ---
apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  namespace: default   
spec:
  type: NodePort
  selector:
    app: myapp
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080
